@charset "UTF-8";

.kaisha {
    width: 100%;
    }

    .kaisha th,
    .kaisha td {
    border: 1px solid #ccc;
    padding: 20px;
    }

    .kaisha th {
    font-weight: bold;
    background-color: #dedede;
    width: 250px;
    }

    @media screen and (max-width: 767px) {
    .kaisha,
    .kaisha tr,
    .kaisha td,
    .kaisha th {display:block;}
    .kaisha th {width:auto;}
    }